.containerQt{
    background-color: white;
    color: black;
    border: 2px solid;
    width: 85%;
    background-color: rgb(174, 204, 204);
}

.container{
    /* text-align: left; */
    margin-left: auto;
}

.step{
    background-color: white;
    color: black;
    border: 2px solid;
    width: 85%;
    background-color: rgb(174, 204, 204);
    height : 3em;
    
}

.stepNum{
    margin-top: 0.7em;
}

.stepContent{
    width: 85%;
}

.deleteButton{
    display: block;
    background-color: rgb(255, 103, 103);
    color: white;
    height: 2.5em;
    width: 12em;
    text-align:center;
    padding-top: 1em;
    border-radius: 10px;
    border: 3px solid;
    transition: color 0.3s;
    transition: background-color 0.3s;
    margin-top: -0.7em;
}

.deleteButton:hover{
    background-color: white;
    color: rgb(255, 103, 103);
    border-color: rgb(255, 103, 103);
}