<!-- 
Pour ajouter ce code il faut appeler :
<script src="/js/searchIngredient.js"></script>
<div id='searchIngredients'></div> 
-->
<html>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="stylesheet" href="/css/searchIngredient.css" />
<div class='inputSearchContainer'>
    <span>
        <input class="inputSearch" id="searchInput" type="text" oninput="changeInputValue(false)" />
        <label for='searchInput'>Ingrédients :</label>
    </span>
</div>
<br />
<div id='ingredientsContainer'>
    <p v-for='item in pre' :value='item' :key='item' class='ingredientListResearch' v-on:click="clickedPre(item)">{{item}}</p>
    <p v-for='item in picked':value='item' :key='item' class='ingredientList' v-on:click='clickedIng(item)'>{{item}}</p>
</div>
<br />
<script>startVueIngredients()</script>
</html>